@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
:root{
    --purple500: #281154;
    --purple300: #270082;
    --purple600: #1b0058;
    --body:#f9f6ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
section{
    scroll-margin: 50px;
}

.music-section{
    scroll-margin: 50px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: var(--purple300);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);

}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 20px;
}
.logo{
    font-size: 32px;
    font-weight: 600;
}
nav ul{
    display: flex;
    gap: 20px;
}
nav ul li{
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in;
}
nav ul li:hover{
    border-bottom: 2px solid white;
    transition: 0.2s ease-in;
}
.hero-section{
    background-image: url(img/hero.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: grid;
    color: white;
    place-items: center;
    background-repeat: no-repeat;
    text-align: center;
    
}
.hero-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero-section h1{
    font-size: 96px;
}
.hero-section h3{
    font-size: 32px;
}
.music-section{
    padding-top: 50px;
    background-color: var(--purple500);
}
.music-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
}
.ipad-iphone-img{
    margin-top: -400px;
    position: relative;
    top: 400px;
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.primary-btn{
    background-color: red;
    color: white;
}
.secondary-btn{
    background-color: var(--purple300);
    color: white;
}
.about-music {
    padding-top: 500px;
    display: grid;
    place-items: center;
    gap: 50px;
    text-align: center;
    margin-bottom: 50px;
}



.video{
    background-image: url(img/dance.jpg);
    min-height: 800px;
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
    text-align: center;
}
.video .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -200px;
}
.hero-section , .video{
    position: relative;
}
.gift{
    display: flex;
    justify-content: center;
    margin: 100px 0;
    gap: 50px;
}
.gift-content{
    display: flex;
    flex-direction: column;
    gap: 20px;  
}
.gift-content button{
    width: 100px;
}
.upper-footer{
    background-color: var(--purple600);
}
.upper-footer .container{
    display: flex;
    color: white;
    justify-content: space-between;
}
.upper-footer h4{
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}
.footer-lower{
    background-color: var(--purple300);
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
}
.gift{
    scroll-margin: 180px;
}
@media (max-width:786px){
   img{
       max-width: 700px;
    }
   .gift{
    flex-direction: column;
    gap: 15px;
   }
    .gift-content p , button{
    margin:0 20px ;
   }
}
